body {
	background-image: url("../Images/FN_091.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
	width: 100%;
	height: 100%;
}

	#WrappingContainer {
		width: 80%;
		border-radius: 10px;
		margin: 20px auto;
		background-color: #fff;
		padding: 0;
		font-family: 'Open Sans', sans-serif;
	}
	
		#Container {
			margin:  40px 40px 20px 40px;
		}
	
			#ModulHeading {
				margin: 0;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 60px;
			}
			
			#LogOutButton {
				display: inline-block;
                float:right;
			}
			
		#Institution {
			font-size: 20px;
			color: #636363;
		}

		#OverviewContainer {
			margin: 0px 40px 40px 40px;
		}
		
			#Table {
				margin-top: 30px;
			}
			
				.chapterBarOuter {
					height: 15px;
					margin-bottom:0;
				}
				
					.chapterBar {
						background-color:#e31465;
					}
			
				.chapter {
					text-align:center;
				}
			
				.levelUp {
					color: #ddd;
				}
			
				
				#AddUser {
					text-align: center;
					color: #ddd;
				}	
		
		#ChapterViewButton {
			display: inline-block;
			background-color: #fff;
			margin-left:20px;
		}
		
			#ChapterViewButton:hover {
				background-color: #ccc;
				-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
				box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			}

		#TrainerViewButton {
			display: inline-block;
			background-color: #f1f1f1;
		}
		
			#TrainerViewButton:hover{
				cursor: default;
			}
			
		#LevelAllUp {
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
		}

		#AllLevelUp {
			margin: 20px 0px 0px 20px;
			font-size:small;
		}
		
		#DropdownContainer{
			display: inline-block;
		}
		
			.scrollable-menu {
				height: auto;
				max-height: 150px;
				overflow-x: hidden;
			}
			
		#PinkButton {
			background-color: #e31465;	
			color: #fff;
		}

			#PinkButton:hover {
				background-color:#755F5A;
			}
			
			
.noPadding {
	padding:0 !important;
}

.cursorHover:hover span{
	cursor:pointer;
}			