body {
    background-color: #e1e1e1;
    background-image: url("../Images/FN_091.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#WrappingContainer {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

#WrappingContainer p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30;
    margin: 20px;
}

#Chapter_window {
    background-color: #fff;
    float: left;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.68);
}

#Chapter_window p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15;
    text-align: justify;
}


/*---------------------------------------Scrollbox---------------------------*/

.myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    height: 550px;
    overflow: scroll;
}


/* Scrollbar styles */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

#right_Container {}

#Chapter_Overview {
    padding: 0;
    background-color: #fff;
    float: left;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.68);
}

#Chapter_Overview a {
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans ', sans-serif;
}

.chapter_nav {
    height: 35px;
    padding: 8px;
}

.chapter_nav:hover {
    background-color: #8ba1bf;
}

.chapter_nav :active {
    background-color: #7e92ac;
}

.chapter_nav_last {
    height: 30px;
}

.chapter_nav_last:hover {
    background-color: #8ba1bf;
}


/*-------------------------Buttons--------------------------------------*/

.btn {
    margin-top: 25px;
}

.btn:hover {
    background: #80a7bf;
    background-image: -webkit-linear-gradient(top, #80a7bf, #aac3d4);
    background-image: -moz-linear-gradient(top, #80a7bf, #aac3d4);
    background-image: -ms-linear-gradient(top, #80a7bf, #aac3d4);
    background-image: -o-linear-gradient(top, #80a7bf, #aac3d4);
    background-image: linear-gradient(to bottom, #80a7bf, #aac3d4);
    text-decoration: none;
}

#button_c {
    display: inline-block;
    color: #f1f1f1;
}


/*---------------------------------------------------------------REGISTER--------------------------------------------*/

#register_Container {
    Background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.68);
    overflow: hidden;
    margin-top: 50px;
}

.noPadding {
    padding: 0 !important;
}
